:root {
	--block-background-color: #fcfcfc;
	--block-accent-color: #4ecca3;
	--block-shadow-color: #393e46;
	--block-text-color: #2c2c2c;
	--secondary-accent-color: #ff5f5f;
}

[data-theme="dark"] {
	--block-background-color: #232931;
	--block-accent-color: #ff5f5f;
	--block-shadow-color: #83ffe6;
	--block-text-color: #eeeeee; 
	--secondary-accent-color: #4ecca3;
}

html {
	background-color: var(--block-background-color);
	color: var(--block-text-color) !important;
}

body {
	font-family: 'Noto Sans Mono', monospace;
}

a {
	font-weight: 700;
	color: var(--block-accent-color) !important;
}

b {
	color: var(--secondary-accent-color) !important;
}